html{
	font-family: Arial, Helvetica, sans-serif;
}


.navbar
{
	margin-bottom: 0px;
	border-radius: 0px;
	min-width: 511px;
}

.navbar-nav a
{
	color: #000;
	overflow: hidden;
}
.jumbotron
{
	background-image:url('header.jpg');
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
	height: 50%;
	border-color: black;
	border-width: 1px;
	border-style: solid;
	margin-bottom: 0px;
}
.jumbotron h1
{
	margin:5px;
	padding: 5px;
	float: left;
	color:white;
	background-color: black;
	font-size: 2.7vw;
}

.jumbotron h1:nth-child(1)
{
	margin-top: 40px;
}

next
{
	margin-left: 100%;
}

orange
{
	padding-left: 5px;
	padding-right: 5px;
	background-color: black;
	color:orange;
}

.resume
{
	background-color: #f8f8ff;
	border-color: #dedede;
	border-width: 1px;
	border-style: solid;
	color: #333;
}

.resume h3, .page-header
{
	margin: 0px;
	margin-top: 10px;
	padding: 0px;
	margin-bottom: 5px;
	text-transform: uppercase;
	border-color: #000;
}
.resume p, li
{
	padding-left: 15px;
	padding-right: 15px;
}
.resume .row
{
	padding-left: 30px;
	padding-right: 30px;
}

floatr
{
	float:right;
}

.media
{
	margin-top: 10px !important;
}

.progress
{
    width: 100%;
    position: relative;
}

.bar
{
    background: orange;
    height: 100%;
    z-index: 1;
} 
.progress span
{
    position: absolute;
    top:0px;
    z-index: 2;
    text-align: center;
    width: 100%;
}

.in-40
{
	margin-left:40px;
}

.out-40
{
	position: fixed;
	margin-left:-40px;
	z-index: 0;
}

.active
{
	background-color: #00A1E2;
	background-size: 100%;
}

.links{}
.clear
{
	background-color: transparent;
}
