h3 {
	color:#FEFEFE;
	position: absolute;
	top: -25px;
	left: 80px;
	font-weight:bold;
	font: 1.8em/1.8em "helvetica", arial, verdana, sans-serif;
	}

p {
	
}

body {
	width: 82%;
	margin-left: 9%;
	background-image: url("back.jpg");
}

#center {
	width:80%;
	margin-left: 10%;
}

#center left {
	float:left;
	
}
#center right {
	float:right;
	
}

#header { 
	position: absolute; 
	top: 0px;
	left: 0px;
	background:transparent url("bg-header.png") 0 0 repeat-x;
	border-bottom:1px solid #353939;
	width:100%;
	padding: 10px 0;
	height:38px;
	z-index:1;
	}



/*
#header a {
		position: relative;
		border-bottom:none !important;
		border-bottom:none;
		}

body {
	background: #050707 url("bg-body.jpg") repeat-x 0 0;
	background-attachment: fixed;
	}
*/
#container
{
	margin-top:70px;
	width: auto;
	background-color: rgba(0,0,0,0.5);
	font: 0.8em/0.8em "helvetica", arial, verdana, sans-serif;
	color: rgba(255,255,255,1)
}

/*	
	#about h1 {
		display:block;
		height:357px;
		width:763px;
		background:transparent url(../images/interface/hdr-main.gif) 0 0 no-repeat;
		text-indent:-5000px;
		margin-bottom:40px;
		}
		
		#about h1.error {
			background:transparent url(../images/interface/hdr-404.gif) 0 0 no-repeat;
			height:129px;
			}
*/
